// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';



.boss-container {

  width: 100%;


}

.top-bar {
  display: flex;
  margin: auto;
  width: 70rem;
  color: white;

  background-color: darkorange;
  border-bottom: solid white;
  &:hover {
    cursor: pointer;
  }

}

.dropdown-container {

  // display: none;
  margin: auto;
  width: 70rem;
  // color: white;

  background-color: #555;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-container-active {


}

.dropdown-bar {
  display: flex;
  flex-direction: row;
  background-color: darkorange;
  color: white;
  &:hover {
    cursor: pointer;
  }


}

.info-new {
  background-color: #555;
  color: white;


}

.profile-info {
  margin: auto;
  width: 40rem;
}

.info-block {
 width: 40rem;
 background: transparent;
 border: none;
}

.name-new {
  border-bottom: solid #333;
}

.new-age {
  border-bottom: solid #333;

}

.new-url {
  border-bottom: solid #333;

}

.new-profile {
  border-bottom: solid #333;

}

.button-save {

}

.save-button {
  background-color: orange;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.puppy-entry {

  margin: auto;
  background-color: lightgrey;
  width: 50rem;
  border-top: solid white;


  display: flex;
  &:hover {
    cursor: pointer;
  }
}

.puppy-photo {
  padding: 1rem;
}

.puppy-info {
  width: 30rem;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.puppy-name {

  border-bottom: solid darkgrey;
}

.puppy-age {

  border-bottom: solid darkgrey;
}

.puppy-url {

  border-bottom: solid darkgrey;
}

.puppy-profile {

  border-bottom: solid darkgrey;
}

.buttons {
  display: flex;
  justify-content: space-between;


  // flex-direction: column;



}

.delete-button {
  border-top: 1rem;
  color: white;
  background-color: orange;
  &:hover {
    cursor: pointer;
  }
}

.update-button {
  color: white;
  background-color: orange;
  &:hover {
    cursor: pointer;
  }
}
